.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
}

@media (min-width: 425px) and (max-width: 767px) {

    .lead__title {
        margin: 0 auto;
        max-width: calc(100% - 40px);
        font-size: 50px;
    }

}

@media (max-width: 424px) {

    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.10;
        
    }

}

